@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(243 244 246);
}

* {
  transition: all 0.04s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
